@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lwlfc0');
  src:  url('../fonts/icomoon.eot?lwlfc0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?lwlfc0') format('truetype'),
    url('../fonts/icomoon.woff?lwlfc0') format('woff'),
    url('../fonts/icomoon.svg?lwlfc0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play3:before {
  content: "\ea1c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-linkedin2:before {
  content: "\eaca";
}

header{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo{
  width: 90%;
}


#viaja{
  background-image: url(../img/taxi.jpg);
  height: 690px;
  background-size: cover;
  background-position:bottom;
  color:white;
  padding-top: 10%;
}
.page-header{
  margin-bottom: 40px;
}
h4>small{
  color: white;
  background-color: #F8AA02;
  padding: 10%;
}
h4{
  margin: -52px 0 40px;
}

#viaja .btn{
  color: black;
  background: white;
  margin-top: 1%;
}
#viaja .btn:hover{
  background:#137fd0;
  color: white;
}
#inicioSesion i{
  color: gray;
}
.jumbotron{
  background-color: #F8AA02;
  border-radius: 0;
}
.go{
  background-image: url(../img/conduce.jpg);
  background-size: cover;
  background-position: bottom;
}

.secConduce>button{
  background: #F8AA02;
  color: white;
}
.alinear{
  margin: 0 5% 5%;
}
.col-center{
    float: none;
    margin: 0 auto;
}
.secConduce{
  background: rgba(7,0,23,.6);
  height: 550px;
  color: white;
}
.secConduce>h2{
  margin: 40% 5% 5%;
}

footer{
  background: #39383A;
  padding: 3%;
}
footer li, footer i{
  padding: 10px;
  list-style: none;
}

footer .page-header{
  margin-top:0px;
}
footer li>a, footer p, footer i{
  color: white;
}
footer li>a:hover{
  color:#F8AA02;
}

.imgFooter{
  padding: 10px;
  width: 50%;
}
.secFooterImg{
  margin-top: 13%;
}

#app, #tarifas{
  background: #F8AA02;
  padding: 4.5%;
}
#app p, #app h2{
  color: white;
  padding: 3%;
}
.bordeSecApp{
  border: 2px solid white;
  padding: 2.5%;
}
#map{
  width: 60%;
  height: 70vh;
  border: 2px solid black;
}
